<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/style.css">
        @* <script> src="/script.js"></script> *@
        <script>
            function hi() {
                alert("Привет, Gb!");
            }
        </script> src="/script.js"></script>
    <title>Index page</title>
    </head>

    <body>
        <h1>Привет ASP.NET Core</h1>
        <input type="button" value="Жми меня!" onclick="hi()">
    </body>

</html>
